Repository skytable/skytable, pull requests merged in 2021-09, with the labels that each got.

#217 Fix typo and badge style inconsistency in README.md
  README.md
Labels: D-docs

#220 Implement lists
  server/src/actions/dbsize.rs
  server/src/actions/lists/mod.rs
  server/src/actions/mod.rs
  server/src/corestore/htable.rs
  server/src/corestore/table.rs
  server/src/corestore/tests.rs
  server/src/kvengine/encoding.rs
  server/src/kvengine/listmap.rs
  server/src/kvengine/macros.rs
  server/src/kvengine/mod.rs
  server/src/protocol/iter.rs
  server/src/protocol/responses.rs
  server/src/queryengine/ddl.rs
  server/src/queryengine/inspect.rs
  server/src/queryengine/mod.rs
  server/src/queryengine/parser.rs
  server/src/queryengine/tests.rs
  server/src/storage/bytemarks.rs
  server/src/storage/flush.rs
  server/src/storage/interface.rs
  server/src/storage/iter.rs
  server/src/storage/macros.rs
  server/src/storage/mod.rs
  server/src/storage/tests.rs
  server/src/storage/unflush.rs
  server/src/util.rs
Labels: D-server, D-cli, D-docs, D-cargo, D-macros, D-bench

#222 Simplify response writing/handling
  server/src/actions/lists/mod.rs
  server/src/actions/mset.rs
  server/src/actions/mupdate.rs
  server/src/actions/set.rs
  server/src/actions/update.rs
  server/src/corestore/booltable.rs
  server/src/corestore/mod.rs
Labels: D-server

#223 Add `last` and `first` methods to lists
  CHANGELOG.md
  server/src/actions/lists/lget.rs
  server/src/actions/lists/mod.rs
  server/src/protocol/responses.rs
  server/src/queryengine/mod.rs
  server/src/tests/kvengine_list.rs
Labels: D-server, D-docs
