Repository skytable/skytable, pull requests merged in 2021-08, with the labels that each got.

#196 Remove caching until ICC is fixed
  .ci.yml
Labels: C-bug, D-build, D-workflow, OS-macOS, C-tests, A-arm64

#201 Remove trailing semicolons from macros
  cli/src/runner.rs
  server/src/corestore/buffers.rs
  server/src/dbnet/connection.rs
  server/src/dbnet/mod.rs
Labels: D-server, D-cli

#207 Fix detection of invalid container name
  server/src/queryengine/parser.rs
  server/src/queryengine/tests.rs
Labels: C-bug, D-server

#202 Implement typed arrays in Skyhash 1.1
  Cargo.lock
  cli/src/runner.rs
  server/src/actions/del.rs
  server/src/actions/exists.rs
  server/src/actions/get.rs
  server/src/actions/lskeys.rs
  server/src/actions/mget.rs
  server/src/actions/mpop.rs
  server/src/actions/mset.rs
  server/src/actions/mupdate.rs
  server/src/actions/pop.rs
  server/src/actions/set.rs
  server/src/actions/update.rs
  server/src/actions/uset.rs
  server/src/corestore/htable.rs
  server/src/corestore/map/mod.rs
  server/src/dbnet/connection.rs
  server/src/kvengine/mod.rs
  server/src/protocol/element.rs
  server/src/protocol/mod.rs
  server/src/queryengine/inspect.rs
  server/src/queryengine/mod.rs
  server/src/resp/mod.rs
  server/src/resp/writer.rs
  server/src/tests/inspect_tests.rs
  server/src/tests/kvengine.rs
  server/src/tests/mod.rs
  sky-bench/src/benchtool.rs
  sky-bench/src/util.rs
  sky-macros/src/lib.rs
  stress-test/src/linearity_client.rs
Labels: required-improvement, D-server, C-performance, C-protocol, C-tests, L-Medium, A-independent, D-cli, C-Model, M-K/V, D-cargo, D-macros, D-bench

#210 Release v0.7.0
  Cargo.lock
  cli/Cargo.toml
  cli/src/runner.rs
  libstress/Cargo.toml
  server/Cargo.toml
  server/src/tests/ddl_tests.rs
  server/src/tests/inspect_tests.rs
  server/src/tests/kvengine.rs
  server/src/tests/mod.rs
  sky-bench/src/benchtool.rs
  sky-bench/src/testkey.rs
  sky-bench/src/util.rs
  sky-macros/src/lib.rs
  sky-migrate/Cargo.toml
  sky-migrate/src/main.rs
  stress-test/src/linearity_client.rs
Labels: D-server, D-cli, release-track, D-cargo, D-macros, D-bench

#213 Optimize the Skyhash implementation
  server/src/actions/dbsize.rs
  server/src/actions/del.rs
  server/src/actions/exists.rs
  server/src/actions/flushdb.rs
  server/src/actions/get.rs
  server/src/actions/jget.rs
  server/src/actions/keylen.rs
  server/src/actions/lskeys.rs
  server/src/actions/mget.rs
  server/src/actions/mod.rs
  server/src/actions/mpop.rs
  server/src/actions/mset.rs
  server/src/actions/mupdate.rs
  server/src/actions/pop.rs
  server/src/actions/set.rs
  server/src/actions/strong/sdel.rs
  server/src/actions/strong/sset.rs
  server/src/actions/strong/supdate.rs
  server/src/actions/strong/tests.rs
  server/src/actions/update.rs
  server/src/actions/uset.rs
  server/src/admin/mksnap.rs
  server/src/corestore/mod.rs
  server/src/dbnet/connection.rs
  server/src/protocol/element.rs
  server/src/protocol/iter.rs
  server/src/protocol/mod.rs
  server/src/protocol/tests.rs
  server/src/queryengine/ddl.rs
  server/src/queryengine/inspect.rs
  server/src/queryengine/mod.rs
  server/src/queryengine/parser.rs
  server/src/queryengine/tests.rs
  server/src/util.rs
Labels: C-enhancement, required-improvement, D-server, C-performance, C-protocol, A-independent
